body {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr;

}
.nav {
    background: white;
margin: .5rem 0;
    line-height: 3rem;
    z-index: 100;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li{
    float: left;

    background-color: white;
    width: 16rem;
    height: 3rem;
}
ul li ul li{
    display: none;

}
ul li:hover ul li{
    display: block;
    background: none;
    vertical-align: middle;
    background: white;
}
.nav-list .nav-li:nth-of-type(1){
    margin-left: 2rem;
}


.nav-list:nth-child(1) {


    font-size: 1.4rem;
    color: cornflowerblue;
    vertical-align: middle;

}
.sub-li{
    font-size: 1.1rem;


}


.sub-li:hover{
    background-color: cornflowerblue;
    color: white;

transform: translateX(.5rem);
    transition-duration: 1s;
    border-bottom: solid;
}
.sub-li:nth-child(1){

}


.slide {
    display: grid;
    background: white;
height: 80vh;
    z-index: 1;
    background: url("../images/family.jpg");
background-size: cover;
    background-position: center;
}

.serviceBar {
    background: gray;

    position: relative;

}

.logo-image {
    width: 20%;
    display: inline;
}
.logo-image:hover{
    transform: scale(1.1,1.1) ;
}

.cards {
    background: wheat;

}

.footerServices {
    background: fuchsia;

}

.footer {
    background: peru;

}